WM_ENV=dev
WM_LOG_LEVEL=INFO

WM_WORLD_DB_HOST=127.0.0.1
WM_WORLD_DB_PORT=3306
WM_WORLD_DB_NAME=acore_world
WM_WORLD_DB_USER=root
WM_WORLD_DB_PASSWORD=CHANGE_ME

WM_CHAR_DB_HOST=127.0.0.1
WM_CHAR_DB_PORT=3306
WM_CHAR_DB_NAME=acore_characters
WM_CHAR_DB_USER=root
WM_CHAR_DB_PASSWORD=CHANGE_ME
